.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    border-bottom: 1px solid lightgray;
}


.searchPage__logo {
    object-fit: contain;
    height: 50px;
    margin-right: -80px;
    margin-top: 10px;
}

.searchPage__headerBody > .search > .search__input {
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__result {
    margin: 40px 0;
}

.searchPage__resultCount {
    color: rgb(135, 135, 135);
    font-size: 13px;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 100px;
}

.searchPage__resultTitle {
    text-decoration: none;
    color: #3C4F76;
}

.searchPage__resultTitle:hover {
    text-decoration: underline;
}

.searchPage__url {
    font-style: italic;
    color:#a9a6ce;
}

.searchPage__resultTitle > h2 {
    font-weight: 500;
    font-size: 19px;
}

.searchPage__resultSnippet {
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    margin-left: auto;
    margin-right:100px;
}
